body {
    min-height: 100vh;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    flex: 0
}

main {
    flex: 1
}

footer {
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
    flex: 0
}

.dark-brown {
    color: #493628;
}
.dark-brown-bg {
    background: #493628;
}

.btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #493628;
    border-color: #493628;
}

.btn-primary:hover {
    background-color: #AB886D;
    border-color: #AB886D;
}

#div-cafes .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#div-cafes .card-actions i {
    color: gray;
}

#div-cafes .card-actions i:hover {
    cursor: pointer;
    color: darkred;
}

.form-switch .form-check-input:checked {
    background-color: #493628;
    border-color: #493628;
}
