{% include "header.html" %}

<main class="container mt-3">
    <div class="row gx-2 gy-4" id="div-cafes">
        {% for cafe in cafes %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="{{ cafe.img_url }}" class="card-img-top" alt="{{ cafe.name}} photo" style="height: 240px">
                <div class="card-body">
                    <h5 class="card-title text-break">{{ cafe.name }} </h5>
                    <p class="card-text">{{ cafe.location }}</p>
                </div>
                <div class="card-body">
                    <table class="table table-fluid text-center table-borderless">
                        <tbody>
                        <tr>
                            <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Has charging sockets?"><i class="fa-solid fa-charging-station" ></i></td>
                            <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Has Wi-Fi?"><i class="fa-solid fa-wifi"></i></td>
                            <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Has toilet?"><i class="fa-solid fa-restroom"></i></td>
                            <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Can take calls?"><i class="fa-solid fa-phone-volume"></i></td>
                            <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Number of seats"><i class="fa-solid fa-chair"></i></td>
                            <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Coffee price"><i class="fa-solid fa-mug-hot"></i></td>
                        </tr>
                        <tr>
                            <td>{% if cafe.has_sockets == True %}<i class="fa-solid fa-check dark-brown"></i>{% else %}-{%
                                endif %}
                            </td>
                            <td>{% if cafe.has_wifi == True %}<i class="fa-solid fa-check dark-brown"></i>{% else %}-{% endif
                                %}
                            </td>
                            <td>{% if cafe.has_toilet == True %}<i class="fa-solid fa-check dark-brown"></i>{% else %}-{%
                                endif %}
                            </td>
                            <td>{% if cafe.can_take_calls == True %}<i class="fa-solid fa-check dark-brown"></i>{% else %}-{%
                                endif %}
                            </td>
                            <td>{{ cafe.seats }}</td>
                            <td>{{ cafe.coffee_price }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-grid col-12">
                        <a href="{{ cafe.map_url }}" class="btn btn-primary" target="_blank"><i
                                class="fa-solid fa-map"></i> See on Maps</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% include "footer.html" %}
