<div class="modal fade" id="cafe-delete-confirm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you really want to delete this Café?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action is irreversible!</p>
                <p>Café Name: <span class="cafe-name"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancel
                </button>
                <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i> Yes, delete it!</button>
            </div>
        </div>
    </div>
</div>